*{
    padding:0;
    border:0;
    box-sizing: border-box;
}
body{
    
    background: #f5f6f6;
    font-family: 'Kumbh Sans', sans-serif;
}
.navbar{
    border-bottom: 1px solid gainsboro;
}
.icon-cart img{
    width:25px;
    height:25px;
}
.icon-user{
    width:50px;
}
.description h4{
    color:orange
}
.card-img{
    border-radius: 10px;
}
.card{
    border:none;
}
.main{
    background:white;
    border-radius: 10px;
}
.descuento{
    background-color: rgba(255, 166, 0, 0.2);
    color:orange;
    font-weight: bold;
    font-size: 15px;
}
.btn-buy{
    color:white;
    background-color: rgb(239, 156, 1);
    transition: 0.2s;
}
.btn-buy:hover{
    color:white;
    background-color: orange;
    transition: 0.2s;
}
.item-marca{
    color:orange;
    font-weight: bold;
}
.description-title{
    font-weight: bold;
    font-size:40px;
}
.logo{
    font-weight: bold;
    font-size: 33px;
}
.card-img-bottom:hover{
    opacity: 0.5;
    transition:0.2s
}
input[type="number"]{
    -webkit-appearance: textfield !important;
    margin: 0;
    -moz-appearance:textfield !important;
}


@media (max-width:993px){
  
    .navbar-collapse{
        position: absolute;
        background: white;
        z-index: 100;
        box-shadow: 1px 1px 25px 10px black;
        border-radius:10px;
    }
    .main{
        margin:0;   
    }
}